# Data set Information

The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant. One class is linerly separable from the other 2. the letter are NOT linearly separeable from each other.

Attribute Information:
  
  1.sepal lengths in cm
  2.sepal width in cm
  3.petal length in cm
  4.petal length in cm
  5.class -iris Selosa - Iris verxicolour - Iris Virginica

## Import modules

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
%pylab

Using matplotlib backend: Qt5Agg
Populating the interactive namespace from numpy and matplotlib

## Loading the dataset

In [2]:
df = pd.read_csv('Iris.data', names=['SepalLengthCm', 'SepalWidthCm','PetalLengthCm','PetalWidthCm', 'Species'])
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
# to display stats about data
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [4]:
# To display basic data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
df['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

## Preprocessing the dataset

In [6]:
# check for null values
df.isnull().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

## Exploratory Data Analysis

In [7]:
df['SepalLengthCm'].hist()

In [8]:
df['SepalWidthCm'].hist()

In [9]:
df['PetalLengthCm'].hist()

In [10]:
df['PetalWidthCm'].hist()

In [11]:
# scatterplot
colors = ['red' , 'green', 'blue']
species = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

In [12]:
for i in range(3):
    x = df[df['Species'] == species[i]]
    plt.scatter(x['SepalLengthCm'], x['SepalWidthCm'], c= colors[i], label=species[i])
    plt.xlabel("Sepal Length")
    plt.ylabel("Sepal Width")
    plt.legend()

In [13]:
for i in range(3):
    x = df[df['Species'] == species[i]]
    plt.scatter(x['PetalLengthCm'], x['PetalWidthCm'], c= colors[i], label=species[i])
    plt.xlabel("Petal Length")
    plt.ylabel("Petal Width")
    plt.legend()

In [14]:
for i in range(3):
    x = df[df['Species'] == species[i]]
    plt.scatter(x['SepalLengthCm'], x['PetalLengthCm'], c= colors[i], label=species[i])
    plt.xlabel("Sepal Length")
    plt.ylabel("Petal Length")
    plt.legend()

In [15]:
for i in range(3):
    x = df[df['Species'] == species[i]]
    plt.scatter(x['SepalWidthCm'], x['PetalWidthCm'], c= colors[i], label=species[i])
    plt.xlabel("Sepal Width")
    plt.ylabel("Petal Width")
    plt.legend()

#  Coorelation Matrix

In [ ]:
df.corr()

In [116]:
corr = df.corr()
fig, ax = plt.subplots(figsize(5, 4))
sns.headmap(corr, annot=True ,ax=ax)

ValueError: Number of rows must be a positive integer, not None

#  Label Encoder

In [118]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [120]:
df['Species'] = le.fit_transform(df['Species'])
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

# Model Training

In [ ]:
from sklearn.model, selection import train_test_split
#train - 70
#test - 30
X = df.drop(column=['Species'])
Y = df['Species']
x_train , x_test, y_train , y_test = train_test_split(X , Y, test_size=0.30)

In [ ]:
# Logistic regression
!pip install scikit-learn.linear_model
!pip install LogisticRegression
from scikitlearn.liner_model import LogisticRegression
model = LogisticRegression()

In [127]:
model.fit(x.train, y_train)

NameError: name 'model' is not defined